*body{margin:0;
padding:0;
text-align:center;}
}
#menu{color:black; background-color:white;}

#menu li{margin-right:30px; padding-left:30px;}
#menu li a{text-decoration: none;color:#090d44;transition:all 1s;}#menu li a:hover{background-color:#090d44;color: white;transform:scale(1.1);
}